/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
margin: 0;
}

section {
  margin: auto;
  text-align: center;
  padding-bottom: 2.5em;
}
.home {
  background-color: Yellow
}
.cameronjobsummary {
  background-color: lightblue
}

.taxes {
  background-color: rgb(204, 71, 101);
}
.googlemaps {
  background-color: rgb(178, 75, 243);
}
li {
  font-family: Arial, Helvetica, sans-serif;
}
p {
  font-family: cursive;
  max-width: 40em;
  margin: auto;
}
.links {
  background-color: lightgreen;
  list-style-type: none;
  margin: 0em;
  padding: 0em;
  overflow: hidden;
}
.navListElement {
  float: left;
  padding: 1em;
}
.navListElement a {
  text-decoration: none;
}
a[type="text/css"] {
  text-decoration: none;
}
nav {
  background-color: lightgreen;
  text-align: center;
  position: relative;
  margin-bottom: 1em;
  padding: 1em;
}
body{
  margin: 1em;
}
.alignedlist {
  list-style: none;
  text-align: left;
  max-width: 20em;
  margin: auto;
  width: 59%
}
.bulletedalign {
  text-align: left;
  float: right;
  margin: auto;
  width: 59%
}
iframe{
  margin: 1em;
  max-width: 38.2142857144em;
  width: 90%;
  height: 30em;
}
img{
  max-width: 45em;
  width: 90%;
  max-height: 30em;
  height: 60%;
}
